.contact-container {
  margin: 0;
  padding-top: 0;
  padding-bottom: 80px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  width: 284px;
}

.contact-title {
  --tw-text-opacity: 1;
    color: rgba(72,72,72,var(--tw-text-opacity));
}